<?php

/*******************************************************************************
* Site-wide constants for site administration and technical support
*******************************************************************************/

// Name displayed for tech support
$_CONSTANTS['DEV_DISPLAY_NAME'] = 'Site Admin';

// Email to which tech support correspondence will be sent
$_CONSTANTS['DEV_EMAIL'] = 'admin@example.com';

// Clearance level for the account. Level 3 has access to all site functionality
$_CONSTANTS['DEV_CLEARANCE'] = 3;


/*******************************************************************************
* Name with which you log in (8-20 characters using only: a-z, 0-9, -, and _)
*
* If a username is supplied along with a password, they will be stored in the
* database as the username for an account with the information above. A hash of
* the password will be created for security. No confirmation is sent, and no
* activation is required; the username and password can be used immediately to
* log into the site.
*
* WARNING: Make sure to clear the password value after the account is created!
*******************************************************************************/

// The desired username
$_CONSTANTS['DEV_USER_NAME'] = '';

// The desired password for the administrator
$_CONSTANTS['DEV_PASS'] = '';


/*******************************************************************************
* If TRUE, FirePHP logging is enabled and error reporting is set to E_ALL
*
* WARNING: Leaving debug mode active on a live site can potentially expose
*          sensitive data to all users. It is STRONGLY recommended that this
*          feature be turned off in all production environments.
*******************************************************************************/

$_CONSTANTS['ACTIVATE_DEBUG_MODE'] = TRUE;
