<?php

/**
 * Advanced Configuration Options
 *
 * WARNING: If you're planning on making changes to this config file, you should
 *          have a backup made in case something goes wrong. Changing these
 *          settings can (and likely will) break the ECMS if you don't know
 *          exactly what you're doing. You've been warned.
 */

/******************************************************************************
* File upload directory
******************************************************************************/

$_CONSTANTS['FILE_SAVE_DIR'] = CMS_PATH . '../assets/downloads/';


/******************************************************************************
* File caching configuration
******************************************************************************/

$_CONSTANTS['CACHE_DIR'] = CMS_PATH . 'cache/';
$_CONSTANTS['CACHE_EXPIRES'] = 86400; // 1 day


/*******************************************************************************
* Default form action
*******************************************************************************/

$_CONSTANTS['FORM_ACTION'] = '/assets/inc/process.php';


/*******************************************************************************
* Image upload directories
*******************************************************************************/

$_CONSTANTS['IMG_SAVE_DIR'] = 'assets/images/userPics/';
$_CONSTANTS['GAL_SAVE_DIR'] = 'assets/images/userPics/gallery/';
