<?php

/*******************************************************************************
* Database credentials and configuration
*******************************************************************************/

// Database credentials
$_CONSTANTS['DB_HOST'] = 'localhost';
$_CONSTANTS['DB_USER'] = 'root';
$_CONSTANTS['DB_PASS'] = 'root';
$_CONSTANTS['DB_NAME'] = 'helix';

// Assign a custom prefix for all database tables to avoid conflicts
$_CONSTANTS['DB_PREFIX'] = 'hlx_';

// Assign a default character set and collation for the database
$_CONSTANTS['DEFAULT_CHARACTER_SET'] = "utf8";
$_CONSTANTS['DEFAULT_COLLATION'] = "utf8_unicode_ci";


/*******************************************************************************
* If set to TRUE, AdminUtilities::build_database() is run to create the
* necessary tables in the database (uses IF NOT EXISTS to avoid accidental
* overwrites of table data)
*
* CAUTION: After the database is created, you should set this value to FALSE to
*          avoid unnecessary processing overhead
*******************************************************************************/

$_CONSTANTS['BUILD_DATABASE'] = TRUE;
