<?php

/*******************************************************************************
* Basic site information
*******************************************************************************/

$_CONSTANTS['SITE_URL'] = "http://demo.gethelix.com/";

// Site name (i.e. "Debbie's Donuts" or "John Doe, DDS")
$_CONSTANTS['SITE_NAME'] = "Demo of Helix";

// Default meta description — used on the main page and on pages with no excerpt
$_CONSTANTS['SITE_DESCRIPTION'] = "An example installation of Helix.";

// Link to the site RSS feed. If using a third-party service, include 'http://'
$_CONSTANTS['SITE_RSS'] = '/assets/feeds/index.php';

// Admin contact for the site — site correspondence is signed with this name
$_CONSTANTS['SITE_CONTACT_NAME'] = 'John Doe';

// Admin contact email — all site  notifications will be sent to this address
$_CONSTANTS['SITE_CONTACT_EMAIL'] = 'john.doe@example.com';

// Text for the title tag. The name of the page/entry will be displayed first
$_CONSTANTS['SITE_TITLE'] = "Example Helix Install";

// Separator to use between site title data (use HTML entities where necessary!)
$_CONSTANTS['SITE_TITLE_SEPARATOR'] = "&rsaquo;";

// The confirmation email sent to users contacting via the site's contact form
$_CONSTANTS['SITE_CONFIRMATION_MESSAGE'] = ""
        . "Thanks for contacting me! I try to respond to all messages\n"
        . "within 24 hours. However, if you're writing on a weekend,\n"
        . "you may not receive a response until Monday.\n\n"
        . "Thanks!\n"
        . $_CONSTANTS['SITE_CONTACT_NAME'];

// The year the site was originally created
$_CONSTANTS['SITE_CREATED_YEAR'] = '2011';

// Site favicon and Apple touch icon (use full URI just to be safe)
$_CONSTANTS['SITE_FAVICON'] = 'http://www.copterlabs.com/assets/images/favicon.ico';
$_CONSTANTS['SITE_APPLE_TOUCH_ICON'] = 'http://www.copterlabs.com/assets/images/apple-touch-icon.png';


/*******************************************************************************
* The site's Google Analytics username for stats tracking. Leave empty if the
* site doesn't use Google Analytics
* 
* EXAMPLE: UA-1234567-89
*******************************************************************************/
$_CONSTANTS['GOOGLE_ANALYTICS_USER'] = '';


/*******************************************************************************
* Image handling info — all values except IMG_QUALITY are in pixels
*******************************************************************************/

$_CONSTANTS['IMG_MAX_WIDTH'] = 600;
$_CONSTANTS['IMG_MAX_HEIGHT'] = 450;
$_CONSTANTS['IMG_PREV_WIDTH'] = 175;
$_CONSTANTS['IMG_PREV_HEIGHT'] = 255;
$_CONSTANTS['IMG_THUMB_SIZE'] = 200;
$_CONSTANTS['IMG_QUALITY'] = 8; // Range: 0-9, 9 is highest quality


/*******************************************************************************
* Multiple entry display configuration
*******************************************************************************/

// Maximum number of entries to display on a page (excluding the blog)
$_CONSTANTS['MAX_ENTRIES_PER_PAGE'] = 20;

// Number of pages to display to the left and right of the current page
$_CONSTANTS['ENTRY_PAGINATION_SPAN'] = 4;


/*******************************************************************************
* Blog configuration
*******************************************************************************/

// Maximum number of blog entries to display per page
$_CONSTANTS['BLOG_PREVIEW_NUM'] = 4;

// Format for date info in entries (see http://php.net/date for formatting info)
$_CONSTANTS['DATE_FORMAT'] = 'm/d/Y';

// Default avatar — if left blank, the gravatar.com default is used
$_CONSTANTS['GRAVATAR_DEFAULT_IMG_URL'] = "";

// Define the rating of gravatars (OPTIONS: G, PG, R, X)
$_CONSTANTS['GRAVATAR_RATING'] = "PG";


/*******************************************************************************
* Input validation
*******************************************************************************/

// Tags and attributes to allow in filtered posts
$_CONSTANTS['STRIP_TAGS_WHITELIST'] = '<strong><em><p[id|class]>'
        . '<img[src|alt|title]><a[href|title|rel]>';
